.top-form {
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: .4px .4px .2px .4px;
}

.semi-top-form {
    -fx-background-color: #a91616;
    -fx-border-color: #000;
    -fx-border-width: .2px .4px .8px .4px;
}

.nav-form-aqua-blue {
    -fx-background-color: linear-gradient(to bottom right, #82c9d9, #52a8c2, #2695b3);
}

.nav-btn {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
    -fx-alignment: CENTER-LEFT;
}

.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 6, 0, 0, 0);
}

.white-bg {
    -fx-background-color: #fff;
    -fx-background-radius: 8px;
}

.logout {
    -fx-background-color: hsb(192, 80%, 70%);
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.textfield {
    -fx-background-color: linear-gradient(to bottom, #efefef, #eee);
    -fx-border-color: linear-gradient(to bottom right, #82c9d9, #52a8c2, #2695b3);
    -fx-border-width: .8px;
    -fx-font-family: "Tahoma";
    -fx-border-radius: 4px;
}

.textfield:focused {
    -fx-border-width: 1.8px;
    -fx-background-color: #fff;
}

.table-view {
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #82c9d9, #52a8c2, #2695b3);
    -fx-border-radius: 8px;
    -fx-padding: 0px;
}

.table-view .table-column {
    -fx-alignment: CENTER;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom right, #82c9d9, #52a8c2, #2695b3);
    -fx-background-insets: 0 0 0 0;
    -f-background-radius: 8px 8px 0px 0px;
}

.table-view .column-header,
.filter {
    -fx-background-color: rgb(16, 100, 197);
    -fx-size: 40px;
}

.table-view .column-header .label {
    -fx-text-fill: #fff;
    -fx-font-family: "Arial";
}